
/*CSS syntax
h1{
   color: red; 
   text-align: center;
}
*/
/*CSS selectors
#myInfo {
   color: red; 
   text-align: center;
}
*/


/*Grouping selectors*/
/*this affects every element on the page*/
/*universal selectors
*{
   text-align:center;
   color:blue;
}
*/
/*Grouping selector
h1, h2, p {
   text-align:center;
   color: red;
}
 */
/*types of css
Inline css
Internal css
External css*/

/*CSS comments*/
p.para {
   color: green;/*Set text color to red*/
}

/*html colors----RGB, HEX are html predefined colors*/

/*CSS backgrounds*/

body {
   background-color: white;
}

/*opacity/Transparency*/
div {
   background-color: green;
}

div.first {
   opacity: 0.1;
}

div.second {
   opacity: 0.3;
}

div.third {
   opacity: 0.6;
}
/*Transparency using RGBA*/
div.first {
   background: rgba(0,128 ,0 , 1);
}
div.first {
   background: rgba(0,128 ,0 , 0.1);
}

div.second {
   background: rgba(0,128 ,0 , 0.3);
}

div.third {
   background: rgba(0,128 ,0 , 0.6);
}

div.first {
   background: rgba(0,128 ,0 , 0.1);
}

/*Background image
body {
   background-image: url(backiee-301267.jpg);
}
*/

/*Background image repeat
body {
   background-image: url(backiee-301267.jpg);
   background-repeat: repeat-x;
   background-repeat: no-repeat;
   background-position: right top;
}
*/

/*Background Attachment
body {
   background-image: url(backiee-301267.jpg);
   background-repeat: no-repeat;
   background-position: right top;
   background-attachment: fixed;
   background-attachment: scroll;
}
*/

/*Background shorthand

body {
   background-color: #ffffff;
   background-image:url(backiee-301267.jpg) ;
   background-repeat: no-repeat;
   background-position: right top;
}

body {
   background:#ffffff url(backiee-301267.jpg) no-repeat right top;
}
*/

/*CSS borders*/
/*Border width and color
p.one {
   border-style: solid;
   border-width: 5px;
   border-color: red;
}

p.two {
   border-style: solid;
   border-width: medium;
   border-color: green;
}

p.three {
   border-style: dotted;
   border-width: 2px;
   border-color: blue;
}

p.four {
   border-style: dotted;
   border-width: thick;
   border-color:powderblue;
}

p.five {
   border-style: double;
   border-width:15px;
   border-color: rebeccapurple;
}
/*Border property for individual sides

p.six {
   border-top-style: dotted;
   border-right-style: solid;
   border-bottom-style: dotted;
   border-left-style: solid;

}
*/
/*CSS shorthand property and rounded borders
p {
   border:2px solid red;
   border-radius: 5px;
}
*/

/*CSS margins
p {
   margin-top: 100px;
   margin-bottom: 100px;
   margin-right: 150px;
   margin-left: 80px;
}
*/
/*margin auto horizontally centers the element within the container
.more {
width: 300px;
margin: auto;
}
*/

/*padding
div.more {
   border: 1px solid black;
   background-color: lightblue;
   padding-top:50px;
   padding-right: 30px;
   padding-bottom: 50px;
   padding-left: 80px;

}
/*Padding shorthand and box-sizing
div.more {
   padding:50px 30px 50px 80px;
   box-sizing: border-box;
}
*/

/*Height and width

div.more {
height: 200px;
width: 50%;
}
*/

/*Min and max width
div.more {
   max-width: 500px;
}
*/
/*outline and outline offset
div.more {
   outline: thick solid blue;
   outline-offset: 15px; 
}
*/

/*CSS text*/
/*text-color
p {
   color: green;
}

/*text alignment
p {
   text-align: center;
}

h1 {
   text-align: left;
}

h2 {
   text-align:right ;
}
*/

/*Text decoration*/
h1 {
   text-decoration-line: overline;
   text-decoration-style: solid;
   text-decoration-thickness: 5px;
}

h2 {
   text-decoration-line: underline;
   text-decoration-style: double;
}

h3 {
   text-decoration-line: line-through;
   text-decoration-style: dotted;
}

p{
   text-decoration-line: overline underline;
   text-decoration-style:wavy;
}

/*text decoration short hand*/
P{
   text-decoration: underline red double 5px;
}

/*Text transformation*/
P {
   text-transform: uppercase;
}

/*Text spacing*/
p {
   text-indent:50px;
}

h1 {
   letter-spacing:5px;
}

h2 {
   letter-spacing: -2px;
}

h3 {
   line-height: 0.8;
}

p {
   word-spacing: 10px;
}