
/*CSS syntax
h1{
   color: red; 
   text-align: center;
}
*/
/*CSS selectors
#myInfo {
   color: red; 
   text-align: center;
}
*/


/*Grouping selectors*/
/*this affects every element on the page*/
/*universal selectors
*{
   text-align:center;
   color:blue;
}
*/
/*Grouping selector
h1, h2, p {
   text-align:center;
   color: red;
}
 */
/*types of css
Inline css
Internal css
External css*/

/*CSS comments*/
p.para {
   color: green;/*Set text color to red*/
}

/*html colors----RGB, HEX are html predefined colors*/

/*CSS backgrounds*/

body {
   background-color: white;
}

/*opacity/Transparency*/
div {
   background-color: green;
}

div.first {
   opacity: 0.1;
}

div.second {
   opacity: 0.3;
}

div.third {
   opacity: 0.6;
}
/*Transparency using RGBA*/
div.first {
   background: rgba(0,128 ,0 , 1);
}
div.first {
   background: rgba(0,128 ,0 , 0.1);
}

div.second {
   background: rgba(0,128 ,0 , 0.3);
}

div.third {
   background: rgba(0,128 ,0 , 0.6);
}

div.first {
   background: rgba(0,128 ,0 , 0.1);
}

/*Background image
body {
   background-image: url(backiee-301267.jpg);
}
*/

/*Background image repeat
body {
   background-image: url(backiee-301267.jpg);
   background-repeat: repeat-x;
   background-repeat: no-repeat;
   background-position: right top;
}
*/

/*Background Attachment
body {
   background-image: url(backiee-301267.jpg);
   background-repeat: no-repeat;
   background-position: right top;
   background-attachment: fixed;
   background-attachment: scroll;
}
*/

/*Background shorthand

body {
   background-color: #ffffff;
   background-image:url(backiee-301267.jpg) ;
   background-repeat: no-repeat;
   background-position: right top;
}

body {
   background:#ffffff url(backiee-301267.jpg) no-repeat right top;
}
*/