
/*CSS syntax
h1{
   color: red; 
   text-align: center;
}
*/
/*CSS selectors
#myInfo {
   color: red; 
   text-align: center;
}
*/


/*Grouping selectors*/
/*this affects every element on the page*/
/*universal selectors
*{
   text-align:center;
   color:blue;
}
*/
/*Grouping selector
h1, h2, p {
   text-align:center;
   color: red;
}
 */
/*types of css
Inline css
Internal css
External css*/

/*CSS comments*/
p.para {
   color: green;/*Set text color to red*/
}

/*html colors----RGB, HEX are html predefined colors*/

/*CSS backgrounds

body {
   background-color: white;
}

/*opacity/Transparency
div {
   background-color: green;
}

div.first {
   opacity: 0.1;
}

div.second {
   opacity: 0.3;
}

div.third {
   opacity: 0.6;
}
/*Transparency using RGBA
div.first {
   background: rgba(0,128 ,0 , 1);
}
div.first {
   background: rgba(0,128 ,0 , 0.1);
}

div.second {
   background: rgba(0,128 ,0 , 0.3);
}

div.third {
   background: rgba(0,128 ,0 , 0.6);
}

div.first {
   background: rgba(0,128 ,0 , 0.1);
}

/*Background image
body {
   background-image: url(backiee-301267.jpg);
}
*/

/*Background image repeat
body {
   background-image: url(backiee-301267.jpg);
   background-repeat: repeat-x;
   background-repeat: no-repeat;
   background-position: right top;
}
*/

/*Background Attachment
body {
   background-image: url(backiee-301267.jpg);
   background-repeat: no-repeat;
   background-position: right top;
   background-attachment: fixed;
   background-attachment: scroll;
}
*/

/*Background shorthand

body {
   background-color: #ffffff;
   background-image:url(backiee-301267.jpg) ;
   background-repeat: no-repeat;
   background-position: right top;
}

body {
   background:#ffffff url(backiee-301267.jpg) no-repeat right top;
}
*/

/*CSS borders*/
/*Border width and color
p.one {
   border-style: solid;
   border-width: 5px;
   border-color: red;
}

p.two {
   border-style: solid;
   border-width: medium;
   border-color: green;
}

p.three {
   border-style: dotted;
   border-width: 2px;
   border-color: blue;
}

p.four {
   border-style: dotted;
   border-width: thick;
   border-color:powderblue;
}

p.five {
   border-style: double;
   border-width:15px;
   border-color: rebeccapurple;
}
/*Border property for individual sides

p.six {
   border-top-style: dotted;
   border-right-style: solid;
   border-bottom-style: dotted;
   border-left-style: solid;

}
*/
/*CSS shorthand property and rounded borders
p {
   border:2px solid red;
   border-radius: 5px;
}
*/

/*CSS margins
p {
   margin-top: 100px;
   margin-bottom: 100px;
   margin-right: 150px;
   margin-left: 80px;
}
*/
/*margin auto horizontally centers the element within the container
.more {
width: 300px;
margin: auto;
}
*/

/*padding
div.more {
   border: 1px solid black;
   background-color: lightblue;
   padding-top:50px;
   padding-right: 30px;
   padding-bottom: 50px;
   padding-left: 80px;

}
/*Padding shorthand and box-sizing
div.more {
   padding:50px 30px 50px 80px;
   box-sizing: border-box;
}
*/

/*Height and width

div.more {
height: 200px;
width: 50%;
}
*/

/*Min and max width
div.more {
   max-width: 500px;
}
*/
/*outline and outline offset
div.more {
   outline: thick solid blue;
   outline-offset: 15px; 
}
*/

/*CSS text*/
/*text-color
p {
   color: green;
}

/*text alignment
p {
   text-align: center;
}

h1 {
   text-align: left;
}

h2 {
   text-align:right ;
}
*/

/*Text decoration
h1 {
   text-decoration-line: overline;
   text-decoration-style: solid;
   text-decoration-thickness: 5px;
}

h2 {
   text-decoration-line: underline;
   text-decoration-style: double;
}

h3 {
   text-decoration-line: line-through;
   text-decoration-style: dotted;
}

p{
   text-decoration-line: overline underline;
   text-decoration-style:wavy;
}

/*text decoration short hand
P{
   text-decoration: underline red double 5px;
}

/*Text transformation
P {
   text-transform: uppercase;
}

/*Text spacing
p {
   text-indent:50px;
}

h1 {
   letter-spacing:5px;
}

h2 {
   letter-spacing: -2px;
}

h3 {
   line-height: 0.8;
}

p {
   word-spacing: 10px;
}
*/

/*CSS fonts
p.one {
   font-family: "Times New Roman", 'Times New Roman', Times, serif;
   font-style: normal;
   font-weight: normal;
   font-size: 40px;
}

p.two {
   font-family: Arial, Helvetica, sans-serif;
   font-style: italic;
   font-weight: lighter;
   font-size: 2.5em;
}

p.three {
   font-family: "Lucida Console", "Courier New", monospace;
   font-style: oblique;
   font-weight: bold;
   font-size: 2.5rem;
}
p.four {
   font-family: "Brush Script MT";
   font-weight: 900;
   font-size: 19px;
}
   */
/*Google fonts
<link rel="Stylesheet" href ="googlefont.link> 
fonts that complement each other
font-family:Verdana, sans-serif;//body
font-family:Georgia,seif;//h1
*/
/*font shorthand
p {
   font: italic bold 16px Arial, sans-serif;
}
*/
/*Font-icons*/
/*Font-awesome
<script scr="" crossorigin="">
*/
/*Bootstrap icons*/ 
/*Google icons*/

/*CSS links
a {
   color: hotpink;
   background-color: yellow;
   font-weight: bold;
}
/*a normal unvisited link
a:link {
   color: red;
}

a:visited {
   color: green;
}

a:hover {
   color: hotpink;
}

a:active {
   color: blue;
}
*/

/*CSS lists
ul {
   list-style-type: square;
   list-style-position: inside;
}

ol {
   list-style-type: disc;
   list-style-image: url('sqpurple.gif');
   list-style-position: outside;
}
*/

/*CSS tables
table, th, td {
   border: 1px solid black;
}

table {
   border-collapse: collapse;
   width: 50%;
}

th, td {
   padding: 10px;
}

td {
   text-align: center;
}
*/
/*CSS display none
.six {
   display: none;
}
*/

/*CSS position property
div {
   position: static;
}

div {
   position: relative;
   left: 20px;
}

div.more {
   position: fixed;
   bottom: 0;
   width: 400px;
   height: 50px;
}
 

div.relative {
   position: relative;
   width: 400px;
   height: 200px;
   border: 3px solid black;
}

div.absolute {
   position: absolute;
   top: 80px;
   right: 0;
   width: 200px;
   height: 100px;
   border: 3px solid red;
}

div.sticky {
   position: sticky;
   top: 0;
}

img {
   position: absolute;
   left: 0px;
   top: 0px;
   z-index: -1;
}
*/

/*CSS overflow
#overflowTest {
   background: hotpink;
   color: white;
   padding: 15px;
   width: 90%;
   height: 100px;
   overflow-y: scroll;
   /*overflow: scroll;
   /overflow-x: scroll;
   border: 1px solid gray;
}
*/

/* CSS Float

.three {
   float: left;
   float:right;
   clear:both;
}

/*Display:inline block
.three, .four {
   display: inline-block;
}
*/

/*CSS align
.center {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 200px;
}
*/

/*CSS pseudoclasses
/*Unvisited link
a:link {
   color:#ff0000;
}

/*visited link
a:visited {
   color:#00ff00;
}
/*mouse over link
a:hover {
   color:#ff00ff;
}
/*selected link
a:active {
   color:#0000ff;
}

input:focus {
   background-color: yellow;
}

/*Structural pseudo classes
p:first-child {
   color: blue;
}

p em:first-child {
   color: blue;
}
*/
/*pseudo elements
p::first-line {
   color: red;
}

p::first-letter {
   color: blue;
}

p::before {
   content: "**";
}

p::after {
   content: "##";
}
*/

/*CSS navigation bars
ul {
   display: flex;
   list-style-type: none;
   margin: 0;
   padding: 0;
}

li a {
   display: block;
   color: black;
   padding: 8px 16px;
   text-decoration: none;
}
*/
/*CSS Dropdown
.dropdown {
   position: relative;
}

.dropdown-content {
   position: absolute;
   display: none;
}

.dropdown:hover .dropdown-content {
display:block;
}
*/

/*CSS attribute selectors
a[target] {
   color: red;
}

a[target="_blank"]{
   background-color: yellow;
}

input[type="text"] {
   border:2px solid blue;
}
*/

/*css form styling
input {
   width:100%;
}

input[type="text"] {
   border:2px solid blue;
}

input[type="text"]:focus {
background-color: powderblue;
border: i;
}

/*Inheritance
.center {
   color: green;
}
.none {
   color: inherit;
}

/*important gives priority
p  {
   color: yellow !important;
}
*/

/*Multiple backgrounds
body {
   background-image: url(backiee-301267.jpg), url(paper.gif);
   background-position: right bottom, left top;
   background-repeat: no-repeat, repeat;
   background-size: contain,cover;
}
*/

/*CSS gradients
.grad1 {
   height: 200px;
   background-image: linear-gradient(to top,red, yellow);
}

.grad2 {
   height: 150px;
   background-image: radial-gradient(red, yellow, green);
}

.grad3 {
   height: 150PX;
   background-image: conic-gradient(red, yellow, green);
}
*/
/*css shadow effects
h1 {
   color: white;
   text-shadow: 2px 2px 4px red;
}

.sticky {
   width: 300px;
   height: 100px;
   padding: 15px;
   background-color: coral;
   box-shadow: 10px 10px 10px 10px lightblue;
}
*/

/*Text effects
p.one {
   width: 100px;
   border:1px solid black;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: clip;
}

p.two {
   width: 100px;
   border: 1px solid black;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
*/
/*css 2d transform*
.sticky {
   width: 150px;
   height: 150px;
   background-color: yellow;
   border: 1px solid black;
   transform: translate(50px, 100px);
   transform: rotatex(20deg);
   transform: scale(2,2);
   transform: skew(20deg);
}

/*css 3d transform

.sticky {
   width: 150px;
   height: 150px;
   background-color: yellow;
   border: 1px solid black;
   transform:rotateX(150deg);
}
*/

/*transitions
.grad3 {
   width: 100px;
   height: 100px;
   background-color: red;
   transition: width 2s, height 4s, background-color 6s;
}

.grad3:hover {
   width: 300px;
   height: 400px;
   background-color:blue;
}

div:hover {
   width: 300px;
   transform:rotate(180deg);
}
.grad1 {
   transition-timing-function: linear;
   width:100px;
   height: 100px;
   background-color: red;
   transition: width 2s;
}

.grad2 {
   transition-timing-function: esae;
   width:100px;
   height: 100px;
   background-color: red;
   transition: width 2s;
}

.grad3 {
   transition-timing-function: ease-in;
   width:100px;
   height: 100px;
   background-color: red;
   transition: width 2s;
}

.grad4 {
   transition-timing-function: ease-out;
   width:100px;
   height: 100px;
   background-color: red;
   transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.grad5 {
   transition-timing-function: ease-in-out;
   width:100px;
   height: 100px;
   background-color: red;
   transition: width 2s;
   transition-delay: 1s;
}
*/